<div class="select-group" [class.select-disabled]="disabled()">
  @if (label()) {
    <label [attr.for]="id()">{{ label() }}</label>
  }
  <div class="select-wrapper">
    <select
      [id]="id()"
      [disabled]="disabled()"
      [value]="value()"
      (change)="onSelectChange($event)"
      (blur)="onSelectBlur()"
      class="form-select"
      [class.input-error]="error()"
    >
      @if (placeholder()) {
        <option value="" disabled selected hidden>{{ placeholder() }}</option>
      }
      @for (option of options(); track option.value) {
        <option [value]="option.value" [disabled]="option.disabled">{{ option.label }}</option>
      }
    </select>
  </div>
  @if (error()) {
    <span class="error-text">{{ error() }}</span>
  }
</div>
